@import './base.css';


#app {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
    min-height: 100vh;
    font-weight: normal;
}
body{
    background: var(--primary-color);
    min-height: 100vh;
    /*position: relative;*/
}
a{
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}


